<section class="quote-card">
  <h3 class="d-flex p-2">Quote</h3>

  <div class="quote-card__content">
    <p>
      <span class="quote-card__label">Expected USDC</span>
      <span class="quote-card__value">{{ expectedAmountOutFormatted }}</span>
    </p>

    <p>
      <span class="quote-card__label">Total fee</span>
      <span class="quote-card__value">{{ totalFeeFormatted }}</span>
    </p>

    <p>
      <span class="quote-card__label">Inbound address</span>
      <span class="quote-card__value quote-card__mono">
        {{ quote.inbound_address }}
      </span>
    </p>

    <p>
      <span class="quote-card__label">Memo</span>
      <span class="quote-card__value quote-card__mono">
        {{ quote.memo }}
      </span>
    </p>

    <p>
      <span class="quote-card__label">Expiry</span>
      <span class="quote-card__value">{{ expiryFormatted }}</span>
    </p>
  </div>
</section>
